<!doctype html>
<html lang="en">
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Airport Manager</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
</head>
<body>
<div class="container d-flex justify-content-center">
    <div class="container">
        <div class="card shadow-sm">
            <h3 class="font-weight-bold">Airport Id:</h3>
            <p class="card-text" th:text="${airport.id}"></p>
            <h3 class="font-weight-bold">Airport Name:</h3>
            <p class="card-text" th:text="${airport.airportName}"></p>
        </div>
    </div>
    <div class="container">
        <div class="card shadow-sm">
            <div class="d-flex justify-content-center">
                <h5 class="font-weight-bold">Current Weather:</h5>
            </div>
            <div class="d-flex justify-content-center" th:each="detail : ${currentWeather.currentWeatherDetails}">
                <h6 class="font-weight-bold" th:text="${detail.key}"></h6>:
                <p th:text="${detail.value}"></p>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex flex-column" th:each="hangar : ${airsideHangars}">
            <div class="card shadow-sm">
                <div class="d-flex justify-content-center">
                    <h5 class="font-weight-bold">Hangar:</h5>
                    <p class="card-text" th:text="${hangar.id}"></p>
                </div>
                <div class="d-flex justify-content-center">
                    <h6 class="font-weight-bold">Number of planes:</h6>
                    <p class="card-text" th:text="${hangar.planes.size()}"></p>
                </div>
                <!--                <a class="text-decoration-none" style="color: red" th:text="${repairStatusOk}"></a>-->
                <div class="" th:each="plane : ${hangar.planes}">
                    <div class="card shadow-sm">
                        <div class="">
                            <h6 class="font-weight-bold"> Plane: </h6>
                            <p class="card-text" th:text="${plane.planeType}"></p>
                            <h6 class="font-weight-bold"> IdNumber: </h6>
                            <p class="card-text" th:text="${plane.id}"></p>
                            <h6 class="font-weight-bold"> Fuel: </h6>
                            <p class="card-text" th:text="${plane.planeFuelLevel}"></p>
                            <h6 class="font-weight-bold"> SubmittedForRepair: </h6>
                            <p class="card-text" th:text="${plane.planeSubmittedForRepair}"></p>
                            <a class="btn btn-outline-success"
                               th:href="@{'/hangar/send-for-repair/' + ${hangar.id} + '/' + ${workshop.id} + '/' + ${plane.id}}">Repair</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="d-flex flex-column">
            <div class="card shadow-sm">
                <div class="d-flex justify-content-center">
                    <h5 class="font-weight-bold">Workshop:</h5>
                    <p class="card-text" th:text="${workshop.id}"></p>
                </div>
                <div class="d-flex justify-content-center">
                    <h6 class="font-weight-bold">Planes in workshop:</h6>
                    <p class="card-text" th:text="${workshop.planes.size()}"></p>
                </div>
                <div class="" th:each="plane : ${workshop.planes}">
                    <div class="">
                        <div class="d-flex justify-content-center">
                            <h6 class="font-weight-bold"> Plane: </h6>
                            <p class="card-text" th:text="${plane.planeType}"></p>
                            <h6 class="font-weight-bold"> IdNumber: </h6>
                            <p class="card-text" th:text="${plane.id}"></p>
                            <h6 class="font-weight-bold"> Under repair: </h6>
                            <p class="card-text" th:text="${plane.planeSubmittedForRepair}"></p>
                            <a class="btn btn-outline-secondary" th:href="@{'/workshop/fix/' + ${plane.id}}">Fix</a>
                            <a class="btn btn-outline-success"
                               th:href="@{'/workshop/send/' + ${workshop.id} + '/' + ${plane.id}}">Return</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>